body{
    font-size: 16px;
    font-family: Poppins;
    background: #F2F7FB 0% 0% no-repeat padding-box;
}

.navbar {
    background: #FAF9F6;
    font-size: 18px;
    padding: 1rem 10rem;
    -moz-box-shadow:    inset -2px -2px 6px #000000;
    -webkit-box-shadow: inset -2px -2px 6px #000000;
    box-shadow:         inset -2px -2px 6px #000000;
}

.submit{
    font-size: 30px;
    font-weight: 600;
}

.logout_btn{
    color: gray;
    background-color:#FAF9F6 ;
    border: none;
}

.logout_btn:hover{
    color:#2b6777;
    border: none;
    font-weight: 600;
    border: none;
}

.logout_btn:focus {
    outline: none;
}

.dropdown-menu{
    font-family: Poppins;
}
.dropdown-item{
    color: gray;
}

.navbar-light .navbar-brand{
    color: rgba(0,0,0,0.7);
}

.nav-item:hover{
    background-color:#FAF9F6;
    border-radius: 10px;
    font-weight: 600;
    color:#2b6777;
    box-shadow: 1px 3px rgba(0,0,0,0.5);
}

.navbar-light .navbar-nav .nav-link:hover,.dropdown-item:hover{
    color:#2b6777;
}

.color-change{
    color:#2b6777;
}

.icon{
    margin-right: auto;
    margin-left: auto;
}

.signup-text{
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}

.signup-text p{
    margin-top: 20px;
    font-weight: 600;
    letter-spacing: 0.02em;
    font-family: 'Poppins', sans-serif;
}

.signup-text h1{
    font-weight: 600;
    display: swap;
    letter-spacing: 0.02em;
    font-family: 'Poppins', sans-serif;
}
.signup-text-div{
    text-align: left;
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
}

.form-container{
    margin-top: 20%;
    padding: 5%;
    padding-top: 0%;
    text-align: center;
    border: none;
    background-color:#F2F7FB;
}

.form-group{
    display: flex;
}

.form-control{
    color:black;
    border: 2px solid #EDEDED;
    padding: 22px 10px;
    border-radius: 7px;
    width: 100%;
}

select{
    border: 2px solid #EDEDED;
    padding: 12px 12px;
    border-radius: 7px;
    background-color: white;
    width: 100%;
}

select:invalid { color:grey; }

select:valid { color:black; }

.form-control:valid{
    background-color: white;
    color:black;    
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

.err-msg{
    margin-left: auto;
    margin-right: auto;
    font-weight: 600;
    font-size: 18px;
    padding-top: 3rem;
    text-align: center;
}

.register-btn{
    background-color:#2b6777;
    color: white;
    border: none;
    width: 100%;
    outline: none !important;
    justify-content: center;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.05em;
    margin-top: 5px;
    margin-bottom: 20px;
    padding:10px 40px;
    font-family: Poppins;
    border-radius: 7px;
}

.register-btn:hover,
  .register-btn:active , .register-btn:focus{
    background-color: white;
    color: #2b6777;
    border: #2b6777 1px solid;
    outline: none !important;
    justify-content: center;
    font-size: 18px;
    font-family: Poppins;
  }

  @media (max-width:1000px){
    .signup-text p{
        font-size: 15px;
    }
    
    .signup-text h1{
        font-size: 35px;
    }
}

@media screen and (min-width: 768px) and (max-width:991px){
    .navbar {
        font-size: 16px;
        padding: 1rem 5rem;
    }
}

@media screen and (min-width: 576px) and (max-width:767px) {
    .navbar {
        font-size: 14px;
        padding: 1rem 5rem;
    }
    .signup-text p{
        font-size: 15px;
    }
    
    .signup-text h1{
        font-size: 30px;
    }
    .form-container{
        margin-top: 3%;
    }
    .signup-text{
        margin-top: 5%;
        text-align: center;
    }
    .signup-text-div{
        text-align: center;
    }
}

@media (max-width:575px) {
    .navbar {
        font-size: 14px;
        padding: 0.5rem 2rem;
    }
    .submit{
        font-size: 24px;
        font-weight: 600;
    }
    .signup-text{
        margin-top: 5%;
        text-align: center;
    }
    .signup-text p{
        margin-top: 20px;
        font-size: 16px;
    }
    
    .signup-text h1{
        font-size: 30px;
    }

    .form-container{
        margin-top: 3%;
    }
    .signup-text-div{
        text-align: center;
    }
}


